.dbk-video-modal {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 40%;
  height: 40%;
  z-index: 100;
  flex-direction: column;
  background-color: black;
  border-radius: 0.25rem;
}

.dbk-video-modal-header {
  height: 25px;
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}

.dbk-video-modal-close {
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 1px;
}

.dbk-video-iframe {
  border-radius: 0.25em;
}