.modal {
  position: fixed;
  right: 24px;
  bottom: 24px;

  display: flex;
  flex-direction: column;

  z-index: 100;
  flex-direction: column;
  background-color: #282828;
  border-radius: 0.5rem;
  cursor: grab;
}

.modal-header {
  padding: 5px 5px 4px 0px;
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  align-items: center;
}

.modal-close {
  color: gray;
  display: flex;
}

.modal-close:hover {
  color: white;
  cursor: pointer;
}

.iframe {
  width: 600px;
  display: block;
  height: 300px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}