.modal {
  position: fixed;
  right: 24px;
  bottom: 24px;

  display: flex;
  flex-direction: column;

  z-index: 100;
  flex-direction: column;
  background-color: #282828;
  border-radius: 0.5rem;
  cursor: grab;
}

.modal-header {
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
}

.modal-close {
  font-family: sans-serif;
  font-size: 20px;
  margin-top: auto;
  display: flex;
  margin-bottom: auto;
  color: gray;
  cursor: pointer;
  margin-right: 8px;
}

.modal-close:hover {
  color: white;
}

.iframe {
  width: 600px;
  display: block;
  height: 300px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}