.dbk-video-wrapper {
  position: relative;
}

.dbk-video-container {
  position: absolute;
  right: 0;
  top: 0;
}

.dbk-video-play {
  padding: 8px 12px;
  /* width: 32px;
  height: 32px; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  font-family: sans-serif;
  top: 20px;
  right: 20px;
  outline: none;
  border: 1px solid #0ac069;
  /* border: none; */
  /* border-radius: 100%; */
  border-radius: 8px;
  background: none;
  /* color: white; */
  /* color: #0ac069; */
  color: white;
  box-shadow: 0px 0px 6px 2px rgba(10, 192, 105, 0.3);
}

.dbk-video-play:hover {
  border: 1px solid #0ac069;
  cursor: pointer;
  background: #0ac069;
}