.video-wrapper {
  position: relative;
}

.video-container {
  position: absolute;
  z-index: 1;
  right: 0px;
}

.play-wrapper {
  position: relative;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.play-wrapper-normal {
  color: #0ac069;
  border: 1px solid #0ac069;
}

.play-wrapper-selected,
.play-wrapper:hover {
  border: 1px solid #11df7b;
  color: #11df7b;
}

.play-thumbnail {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  height: 100%;
  filter: brightness(0.8) blur(3px);
}

.play {
  z-index: 90;
  position: absolute;
}