.video-wrapper {
  position: relative;
}

.video-container {
  position: absolute;

  display: flex;
  padding-top: 5px;
  z-index: 1;
  right: -48px;
}

.play-wrapper {
  position: relative;
  cursor: pointer;

  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.play-wrapper-normal {
  color: #0ac069;
  border: 2px solid #0ac069;
}

.play-wrapper-selected,
.play-wrapper:hover {
  border: 2px solid #11df7b;
  color: #11df7b;
}

.play-thumbnail {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  height: 100%;
  filter: brightness(0.9) blur(2px);
}

.play {
  padding-left: 4px;
  z-index: 50;
  position: absolute;
}

@media (max-width: 996px) {
  .video-container {
    display: none;
  }
}